body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:566px;
}
#u1351 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:566px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:275px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
