body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1133px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u907 {
  position:absolute;
  left:813px;
  top:10px;
  width:320px;
  height:568px;
}
#u908 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u909 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u910 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u911 {
  position:absolute;
  left:406px;
  top:10px;
  width:320px;
  height:568px;
}
#u912 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
